asgiref==3.6.0
auditlog3==1.0.1
certifi==2023.5.7
charset-normalizer==3.2.0
dj-paddle==0.1.2
Django==4.2
django-autoslug==1.9.9
django-cors-headers==3.14.0
django-jet-reboot==1.3.3
djangorestframework==3.14.0
Faker==18.4.0
feedparser==6.0.10
google-api-python-client==1.4.1
httplib2==0.22.0
idna==3.4
mysqlclient==2.1.1
oauth2client==4.1.3
paddle-client==1.0.0
phpserialize==1.3
Pillow==9.5.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.18.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
rsa==4.9
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
